# Environment Variables
DATABASE_URL="file:./dev.db"

# Integrations Context
<% integrations.forEach(function(integration) { %>
# <%= integration %> placeholders
# <%= integration.toUpperCase().replace(/[^A-Z0-9]/g, '_') %>_API_KEY=""
<% }); %>
